.infoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.infoWrap {
    margin: 0 auto;
    padding: 15px;
}
.infoContent {
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 500;
    color: var(--accent-color);
}
.infoText {
    font-size: 20px;
}
.infoImg {
    width: 550px;
    height: auto;
}
