.infoContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}
.infoWrap {
	width: 60%;
	border: 1px solid var(--input-color);
	border-radius: 8px;
	margin: 0 auto;
	padding: 15px;
}
.infoContent {
	font-family: "Poppins";
	font-size: 26px;
	font-weight: 500;
	color: var(--accent-color);
}
