.sortWrap {
	position: relative;
	@media screen and (min-width: 768px) {
		width: 158px;
	}
}
.sortButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	padding: 16px;
	gap: 16px;
	border-radius: 8px;
	border: none;
	color: var(--accent-color);

	font-size: 16px;
	font-weight: 500;
	border-radius: 8px;
	background-color: var(--background-color);
	box-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);

	@media screen and (min-width: 768px) {
		width: 100%;
	}
}
.sortButton:hover,
.sortButton:focus {
	color: var(--hover-color);
}
.sortButtonTitle {
	display: none;
	margin: 0;
	padding: 0;
	color: var(--title-color);
	@media screen and (min-width: 768px) {
		display: block;
		font-size: 16px;

		font-weight: 500;
	}
}
.fakeSortButtonTitle {
	margin: 0;
	padding: 0;
	@media screen and (min-width: 768px) {
		display: block;
		font-size: 16px;

		font-weight: 500;
	}
}
.sortBtnIcon {
	width: 24px;
	height: 24px;
}
.sortDropdown {
	width: 158px;
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 4px;

	top: 0;
	z-index: 99;
	background-color: var(--background-color);
	border-radius: 8px;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.sortDropdownWrapper {
	display: flex;
	gap: 16px;
	padding: 16px 21px;
	border-bottom: 1px solid var(--placeholder-color);
	color: var(--placeholder-color);
}
.sortDropdownList {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 4px;
}
.sortItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 8px 24px;

	&:not(:last-child) {
		border-bottom: 1px solid var(--placeholder-color);
	}
}
.sortItem:hover,
.sortItem:active {
	color: var(--accent-color);
}
.sortSpan {
	color: var(--placeholder-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	width: 70px;
}
.sortArrowIcon {
	width: 24px;
	height: 24px;
	&:nth-child(2n) {
		rotate: 50%;
	}
}
